# База данных
*.db
*.sqlite3

# Виртуальное окружение
venv/
.venv/
env/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Конфигурация окружения
.env
.env.local

# Кэш uv
.uv_cache/

# General
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log

# Flet
.flet/
.flet_build/
bin/
build/
dist/

# Django
db.sqlite3-journal
media/
staticfiles/

# Pre-commit
.git/hooks/
.pre-commit-cache/

# Ruff
.ruff_cache/

# Loguru
logs/
*.log
*.zip
